<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav-custom">
                <li class="active"><a href="#">HOME</a></li>
                <li><a href="#services">SERVICES</a></li>
                <li class="nav-logo"><%= image_tag("logo.png", width: 70)%></li>            
                <li><a href="#ourapp">OUR APP</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div> 
    </div>
</nav>
