<section class="section-three-mobile hidden-lg">
	<div id="ourapp" class="row">
		<div class="row text-center div-road-traffic">
			<div class="row">
				<div class="col-md-5 text-right">
					<div id="section_two_mobile_arrow_left"><%= image_tag("mobile/arrow_left.png")%></div>
				</div>
				<div class="col-md-2 text-right">
					<div id="icon_why_alfred"><%= image_tag("mobile/icon_road_traffic.png", :class => "icon_road_traffic")%></div>
				</div>
				<div class="col-md-5 text-left">
					<div id="section_two_mobile_arrow_left"><%= image_tag("mobile/arrow_right.png")%></div>
				</div>
			</div>
			<div class="txt-road-traffic">
				<p>London is a great world city but its transport system by the twenty-first century has obviously lagged behind the needs of its economy and its citizens. The population of London has grown slowly over the last 10 years having exceeded 8.5 million in 2015. The financial cost of congestion in London is estimated at £5.5bn a year. UK studies reveals that every day there are 38 million car seats vacant during commuting hours. Alfred aims to fill those empty seats, thus reducing the amount of traffic on our roads.</p>
			</div>
		</div>
		<div class="row text-center">
			<div id="section_two_mobile_road_2"><%= image_tag("mobile/road_02.png")%></div>
		</div>
	</div>
</section>
