html,
body {
	/**min-width: 1665px;*/
	min-width: 1452px;
    overflow-x: auto; /* Prevent scroll on narrow devices */
    .row{
    	margin-left: 0px;
    	margin-right: 0px;
    }
}

footer {
    padding: 30px 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 24px;
}

#navbar{
	text-align: center;
	.navbar-nav{
		li{
			float: left;
		}

	}
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

.navbar .navbar-collapse {
  text-align: center;
}


.navbar-container {
    padding: 20px 0 20px 0;
}
#header{
	background-color: rgba(0, 0, 0, 0.3);
	margin-bottom: 0px;
	height: 130px;

	.nav-triangle{
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 140px 175px 0 175px;
		border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
	    position: absolute;
	    top: 110px;
	    left: -94px;
	    z-index: -1;
	}
	li{
		margin-right: 15px;
  	margin-left: 15px;
		margin-top: 20px;

		a{
			color: white;
			font-size: 30px;
			margin-top: 10px;

			&:hover{
				color: gray;
				background-color: transparent;
			}
		}
	}
	li.active{
		a{
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.nav_logo{
	background-image: image-url("");
	height: 60px;
  width: 60px;
  background-size: cover;
}

.footer-view{
	background-color: #84ced7;
    padding-top: 10px;
    padding-bottom: 40px;
	p{
		color: white;
		font-size: 20px;
	}
	a{
		font-size: 20px;
	}
	.col-lg-7{
		padding-left: 60px;
		a{
			margin-right: 30px;
			color: white;
		}
	}
}

.section-container{
	p{
		margin: 0px;
		color: white;
		font-size: 18px;
	}
	h1, h2{
		color: white;
		text-transform: uppercase;
	}
	.btn-find-out-more{
		border-radius: 0px;
	    background-color: rgba(255,255,255,0.5);
	    font-size: 36px;
	    color: white;
	    border: none;
	    padding: 10px 20px;
	}
	.section-title{
		font-size: 70px;
		text-shadow: 5px 5px 8px rgba(0,0,0, 0.6);
	}
	.section-title2{
		font-size: 52px;
	}
	.section-content{
		font-size: 25px;
	}
	.col-md-8, .col-md-4, .col-md-5, .col-md-2, .col-lg-7, .col-lg-5{
		padding: 0px;
	}
	.section-one{
		background-image: image-url("header_image.png");
		background-size: cover;
		min-height: 1052px;
	}
	.section-two{
		background-color: #32aeba;
		height: 1478px;
	}
	.section-three{
		background-image: image-url("background_map.png");
		min-height: 600px;

		p{
			font-size: 23px;
		}
	}
	.section-content-text{
		margin-left: -1em;
		margin-top: -30px;
	}
	.left-section{
		margin-left: 50px;
		margin-top: 95px;
	}
	.left-section_2{
		padding-left: 12em;
		margin-top: -200px;
	}
	.left-section_t1{
		margin-right: -150px;
	}
	.right-section{
		margin-left: -60px;
		margin-top: 320px;

		.right-section-2{
			margin-top: 150px;
			margin-left: -140px;

			.content-text{
				margin-top: -55px;
				margin-left: -4em;
			}
		}
	}
	.section2-driver-text{
		background-color: #32aeba;
		margin-right: 5em;
		margin-left: 3em;
		margin-top: -4em;
		padding: 20px;

	}
	.section2-pass-text{
		background-color: #32aeba;
		margin-right: -4em;
		margin-top: 12em;
		padding: 20px;

	}
	.section2-message-text{
		background-color: #32aeba;
		margin-right: 5em;
		margin-top: 12em;
		padding: 20px;

	}
	.section-four{
		padding-top: 50px;
		background-color: #32aeba;
		height: 740px;

		.section-four-left{
			padding-right: 80px;
			margin-left: 100px;
		}
		h1{
			font-size: 46px;
		}
		h2{
			font-size: 38px;
		}
		h3{
			font-size: 30px;
		    color: white;
		    margin-top: 42px;
		    margin-bottom: -6px;
		}
		p{
			font-size: 26px;
			padding-top: 30px;
		}
		.col-lg-1 div{
			margin-top: 34px;
		}
		.col-lg-4 div{
			padding-top: 40px;
			img{
				margin-right: 24px;
			}
		}
		.image_shadow{
			box-shadow: 0px 5px 1px rgba(0,0,0,0.3);
    		border-radius: 35px;
		}
		.input-placeholder{
			color: #32aeba;
			width: 306px;
		    height: 56px;
		    border-left-width: 0px;
		    padding-left: 10px;
		    padding-right: 10px;
		}
	}
}
